.Section1 {
    flex: 2;
    padding: 20px;
    text-align: left;
    margin-bottom: 150px;
    background-image: url("../img/Section1.png");
    background-size: cover;
    height: 1080px;
    font-family: "Pretendard";
  }

  .content {
   margin-top: 300px;
   margin-left: 165px;
  }

  .section1-title{
    font-size: 25px;
    margin-bottom: 50px;
  }

  .section1-middle{
    font-size: 50px;
    margin-bottom: 50px;
  }

  .section1-under {
    font-size: 16px;
    line-height: 1.5;

  }
  

  